/* 	responsiive navigation 
	change apearance as needed
*/

nav ul {
	/* visual styles are set in style.css */
	text-align: center;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	/* visual styles are set in style.css */
	display: block;	
}

nav ul li a:hover {
	/* visual styles are set in style.css */
}

.handle {
	/* visual styles are set in style.css */
	width: 100%;
	cursor: pointer;
	display: none;
}

.handle .inner {
	/* visual styles are set in style.css */
}


@media screen and (max-width: 600px) { /* make sure this media query matches the one in style.css
	/* remove comments to enable responsive nav. There are also comments in html that need to be removed
	
	nav ul {
		max-height: 0px;
	}
	
	.showing {
		
	}
	
	nav ul li {
		
		width: 100%;
	}
	
	nav ul li a {
		
	}
	
	.handle {
		display: block;
	}
	*/
 
}

